.PreguntaSeleccion {
  color: black;
}

.RespondTextArea {
  resize: none;
}

.RespuestaArchivo {
  font-size: 15px;
  color: black;
  border: 2px solid #22968C;
  width: 400px;
  border-radius: 5px;
}

.RespuestaArchivo::file-selector-button {
  color: #ffffff;
  padding: 0.5em;
  border: 2px solid #22968C;
  border-radius: 3px;
  background-color: #22968C;
  font-size: 15px;
}

.RespuestaArchivo::file-selector-button:hover {
  background-color: #218e85;
  border: 2px solid #218e85;
  cursor: pointer;
}
.RespuestaArchivo:hover {
  border: 2px solid #218e85;
}

.RespuestaArchivo::file-selector-button:active {
  background-color: #186962;
  border: 2px solid #186962;
}
.RespuestaArchivo:active {
  border: 2px solid #186962;
}

.restriction-input {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 95%;
  height: 40px;
  padding: 0 14px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid rgb(204, 204, 204);
}

.type_restriction{
  position: relative;
  margin-bottom: 15px;
  padding: 5px 5px 5px 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
}

.question .subquiestion-title {
  color: black;
  margin-left: 3%;
}

