.boxResponder {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 70%;
  height: auto;
  margin: 30px auto;
  background: #FFFFFF;
  box-shadow: 5px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 10px 15px;
}

.DescripcionPregunta {
  margin-bottom: 10px;
  margin-left: -5px;
}

.PreguntaSeleccion {
  color: black;
}

.RespondTextArea {
  resize: none;
}

.RespuestaArchivo {
  font-size: 15px;
  color: black;
  border: 2px solid #22968C;
  width: 400px;
  border-radius: 5px;
}

.RespuestaArchivo::file-selector-button {
  color: #ffffff;
  padding: 0.5em;
  border: 2px solid #22968C;
  border-radius: 3px;
  background-color: #22968C;
  font-size: 15px;
}

.RespuestaArchivo::file-selector-button:hover {
  background-color: #218e85;
  border: 2px solid #218e85;
  cursor: pointer;
}
.RespuestaArchivo:hover {
  border: 2px solid #218e85;
}

.RespuestaArchivo::file-selector-button:active {
  background-color: #186962;
  border: 2px solid #186962;
}
.RespuestaArchivo:active {
  border: 2px solid #186962;
}

.restriction-input {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 95%;
  height: 40px;
  padding: 0 14px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid rgb(204, 204, 204);
}

.type_restriction{
  position: relative;
  margin-bottom: 15px;
  padding: 5px 5px 5px 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
}

.question:nth-child(odd){
  color: #047732;
}
.question:nth-child(even){
  color: #40b4e5;
}

.question .subquiestion-title {
  color: black;
  margin-left: 3%;
}

.boxResponder .encuestaTitle {
  font-size: 18px;
  font-weight: bold;
  color: #12100C;
}

.boxResponder .encuestaDescripcion {
  font-size: 15px;
  color: #12100C;
  margin-top: 5px;
}

.titleAnswer {
  border-left: 11px solid #12100C;
}

.newUser {
  margin: 10px 0px;
  width: 100%;
  height: 50px;
  padding: 0px 6px;
}

#sendForm {
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
}