.sidebar-container {
  display: flex;
  align-items: flex-start;
  box-sizing: 'border-box';
}

.sidebar-menu {
  border-right: 3px solid #22968C;
  margin: 0px;
  padding: 0px;
  width: 140px;
  background-color: white;
  vertical-align: top;
}

.userConfig  {
  margin: 20px;
}

.user-avatar {
  display: flex;
  align-items: center;
}

#titulo-config {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  color: #2e83a8;
}

.user-datos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%/1, max(410px, 100%/2)), 1fr));
}

.Udatos {
  display: grid;
  width: 330px;
  margin: 20px 0px;
}

.Udatos > span {
  font-size: 17px;
}

.user-data-input {
  background-color: white;
  border:2px solid #2e83a8;
  border-radius: 5px;
  height: 40px;
  outline: none;
  margin-top: 5px;
  padding: 0px 10px;
  font-size: 17px;
}

.subtutilos-config {
  font-weight: bolder;
  font-size: 20px;
  margin-left: 10px;
}

.text-eliminar > p {
  font-size: 17px;
  color: rgb(90, 90, 90);
}

.user-eliminarCuenta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}