/*
ffc526 amarillo
40b4e5 azul
047732 verde
12100c negro
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #efefef;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #22968C) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 calc(100% - 8px));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: spinner 1s infinite steps(10);
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}

.box {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 70%;
  height: auto;
  margin: 30px auto;
  background: #FFFFFF;
  box-shadow: 5px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 10px 15px;
}

@media (max-width: 1400px) {
  .box {
    width: 90%;
  }
}

.DescripcionPregunta {
  margin-bottom: 10px;
  margin-left: -5px;
  font-size: 17px;
  font-weight: bold;
}

.question:nth-child(odd) {
  border-left: 11px solid #047732;
  color: #047732;
}

.question:nth-child(even) {
  border-left: 11px solid #40b4e5;
  color: #40b4e5;
}