@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.title_encuesta{
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 1136px;
  height: auto;
  margin: 30px auto;
  background: #FFFFFF;
  border-left: 11px solid #12100C;
  box-shadow: 5px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.question{

  box-sizing: border-box;

  position: relative;
  display: block;
  width: 1136px;
  height: auto;
  margin: 30px auto;

  background: #FFFFFF;
  border-left: 11px solid #047732;
  box-shadow: 5px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

}



.type_answer{
  position: relative;
  padding: 5px 5px 5px 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  color: #047732;
}

.Select_type_answer{
  box-sizing: border-box;

  position: relative;
  display: block;
  width: 360px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;

  background-color: #FFFFFF;
  border-left: 11px solid #047732;
  box-shadow: 5px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.btnEncuesta {
  padding: 20px 50px;
}